In [6]:
import pandas as pd
import numpy as np

### Loading all the data

In [15]:
calendar_df  = pd.read_csv(r"C:\Users\raghu\OneDrive\Desktop\DG Task\dataset\calendar.csv")
customers_df = pd.read_csv(r"C:\Users\raghu\OneDrive\Desktop\DG Task\dataset\customers.csv",  encoding="latin1")
product_categories_df = pd.read_csv(r"C:\Users\raghu\OneDrive\Desktop\DG Task\dataset\product_categories.csv")
product_subcategories_df = pd.read_csv(r"C:\Users\raghu\OneDrive\Desktop\DG Task\dataset\product_subcategories.csv")
territories_df = pd.read_csv(r"C:\Users\raghu\OneDrive\Desktop\DG Task\dataset\AdventureWorks_Territories.csv")
products_df = pd.read_csv(r"C:\Users\raghu\OneDrive\Desktop\DG Task\dataset\products.csv")
returns_df = pd.read_csv(r"C:\Users\raghu\OneDrive\Desktop\DG Task\dataset\returns.csv")
sales_2015_df = pd.read_csv(r"C:\Users\raghu\OneDrive\Desktop\DG Task\dataset\sales_2015.csv")
sales_2016_df = pd.read_csv(r"C:\Users\raghu\OneDrive\Desktop\DG Task\dataset\sales_2016.csv")
sales_2017_df = pd.read_csv(r"C:\Users\raghu\OneDrive\Desktop\DG Task\dataset\sales_2017.csv")

### Calendar Data Overview

In [16]:
calendar_df.head()

       Date
0  1/1/2015
1  1/2/2015
2  1/3/2015
3  1/4/2015
4  1/5/2015

In [17]:
len(calendar_df)

912

In [19]:
calendar_df["Date"].min(), calendar_df["Date"].max()

('1/1/2015', '9/9/2016')

### Customer data overview

In [20]:
customers_df.head()

,CustomerKey,Prefix,FirstName,LastName,BirthDate,MaritalStatus,Gender,EmailAddress,AnnualIncome,TotalChildren,EducationLevel,Occupation,HomeOwner
0,11000,MR.,JON,YANG,4/8/1966,M,M,jon24@adventure-works.com,"$90,000",2,Bachelors,Professional,Y
1,11001,MR.,EUGENE,HUANG,5/14/1965,S,M,eugene10@adventure-works.com,"$60,000",3,Bachelors,Professional,N
2,11002,MR.,RUBEN,TORRES,8/12/1965,M,M,ruben35@adventure-works.com,"$60,000",3,Bachelors,Professional,Y
3,11003,MS.,CHRISTY,ZHU,2/15/1968,S,F,christy12@adventure-works.com,"$70,000",0,Bachelors,Professional,N
4,11004,MRS.,ELIZABETH,JOHNSON,8/8/1968,S,F,elizabeth5@adventure-works.com,"$80,000",5,Bachelors,Professional,Y

In [21]:
customers_df.shape

(18148, 13)

In [23]:
for i, column in enumerate(customers_df.columns):

    print(f"{i + 1}. {column}")

1. CustomerKey
2. Prefix
3. FirstName
4. LastName
5. BirthDate
6. MaritalStatus
7. Gender
8. EmailAddress
9. AnnualIncome
10. TotalChildren
11. EducationLevel
12. Occupation
13. HomeOwner

In [32]:
print(f"No of customers who are married : {sum(customers_df["MaritalStatus"] == "S")}") 
print(f"No of customers who are single : {sum(customers_df["MaritalStatus"] == "M")}")

No of customers who are married : 8331
No of customers who are single : 9817

In [35]:
print(f"No of Male customers : {sum(customers_df["Gender"] == "M")}")
print(f"No of Female customers : {sum(customers_df["Gender"] == "F")}")

No of Male customers : 9126
No of Female customers : 8892

#### The `AnnualIncome` feature of the customer table is in string, so converting it to integer

In [39]:
income_ = [income.replace("$", "") for income in customers_df["AnnualIncome"]]
income = [int(income.replace(",", "")) for income in income_]

In [41]:
customers_df['AnnualIncome'] = income

In [42]:
customers_df.head()

,CustomerKey,Prefix,FirstName,LastName,BirthDate,MaritalStatus,Gender,EmailAddress,AnnualIncome,TotalChildren,EducationLevel,Occupation,HomeOwner
0,11000,MR.,JON,YANG,4/8/1966,M,M,jon24@adventure-works.com,90000,2,Bachelors,Professional,Y
1,11001,MR.,EUGENE,HUANG,5/14/1965,S,M,eugene10@adventure-works.com,60000,3,Bachelors,Professional,N
2,11002,MR.,RUBEN,TORRES,8/12/1965,M,M,ruben35@adventure-works.com,60000,3,Bachelors,Professional,Y
3,11003,MS.,CHRISTY,ZHU,2/15/1968,S,F,christy12@adventure-works.com,70000,0,Bachelors,Professional,N
4,11004,MRS.,ELIZABETH,JOHNSON,8/8/1968,S,F,elizabeth5@adventure-works.com,80000,5,Bachelors,Professional,Y

In [47]:
print(f"Minimum income of the customers : ${customers_df["AnnualIncome"].min()}")
print(f"Maximum income of the customers : ${customers_df["AnnualIncome"].max()}")

Minimum income of the customers : $10000
Maximum income of the customers : $170000

In [51]:
for children in sorted(customers_df["TotalChildren"].unique()):

    print(f"The no of customers with {children} children : {sum(customers_df["TotalChildren"] == children)}")

The no of customers with 0 children : 5080
The no of customers with 1 children : 3552
The no of customers with 2 children : 3703
The no of customers with 3 children : 2153
The no of customers with 4 children : 2259
The no of customers with 5 children : 1401

In [53]:
for education in customers_df["EducationLevel"].unique():

    print(f"No of customers with {education} education : {sum(customers_df["EducationLevel"] == education)}")

No of customers with Bachelors education : 5261
No of customers with Partial College education : 4966
No of customers with High School education : 3241
No of customers with Partial High School education : 1555
No of customers with Graduate Degree education : 3125

In [55]:
for occupation in customers_df["Occupation"].unique():

    print(f"No of customers with {occupation} as occupation : {sum(customers_df["Occupation"] == occupation)}")

No of customers with Professional as occupation : 5424
No of customers with Management as occupation : 3011
No of customers with Skilled Manual as occupation : 4501
No of customers with Clerical as occupation : 2859
No of customers with Manual as occupation : 2353

In [57]:
print(f"No of customers with own house : {sum(customers_df["HomeOwner"] == "Y")}")
print(f"No of customers with no own house : {sum(customers_df["HomeOwner"] == "N")}")

No of customers with own house : 12260
No of customers with no own house : 5888

### Products table overview

In [72]:
products_df.head(20)

,ProductKey,ProductSubcategoryKey,ProductSKU,ProductName,ModelName,ProductDescription,ProductColor,ProductSize,ProductStyle,ProductCost,ProductPrice
0,214,31,HL-U509-R,"Sport-100 Helmet, Red",Sport-100,"Universal fit, well-vented, lightweight , snap...",Red,0,0,13.0863,34.9900
1,215,31,HL-U509,"Sport-100 Helmet, Black",Sport-100,"Universal fit, well-vented, lightweight , snap...",Black,0,0,12.0278,33.6442
2,218,23,SO-B909-M,"Mountain Bike Socks, M",Mountain Bike Socks,Combination of natural and synthetic fibers st...,White,M,U,3.3963,9.5000
3,219,23,SO-B909-L,"Mountain Bike Socks, L",Mountain Bike Socks,Combination of natural and synthetic fibers st...,White,L,U,3.3963,9.5000
4,220,31,HL-U509-B,"Sport-100 Helmet, Blue",Sport-100,"Universal fit, well-vented, lightweight , snap...",Blue,0,0,12.0278,33.6442
5,223,19,CA-1098,AWC Logo Cap,Cycling Cap,Traditional style with a flip-up brim; one-siz...,Multi,0,U,5.7052,8.6442
6,226,21,LJ-0192-S,"Long-Sleeve Logo Jersey, S",Long-Sleeve Logo Jersey,Unisex long-sleeve AWC logo microfiber cycling...,Multi,S,U,31.7244,48.0673
7,229,21,LJ-0192-M,"Long-Sleeve Logo Jersey, M",Long-Sleeve Logo Jersey,Unisex long-sleeve AWC logo microfiber cycling...,Multi,M,U,31.7244,48.0673
8,232,21,LJ-0192-L,"Long-Sleeve Logo Jersey, L",Long-Sleeve Logo Jersey,Unisex long-sleeve AWC logo microfiber cycling...,Multi,L,U,31.7244,48.0673
9,235,21,LJ-0192-X,"Long-Sleeve Logo Jersey, XL",Long-Sleeve Logo Jersey,Unisex long-sleeve AWC logo microfiber cycling...,Multi,XL,U,31.7244,48.0673
10,238,14,FR-R92R-62,"HL Road Frame - Red, 62",HL Road Frame,Our lightest and best quality aluminum frame m...,Red,62,U,747.9682,1263.4598
11,241,14,FR-R92R-44,"HL Road Frame - Red, 44",HL Road Frame,Our lightest and best quality aluminum frame m...,Red,44,U,747.9682,1263.4598
12,244,14,FR-R92R-48,"HL Road Frame - Red, 48",HL Road Frame,Our lightest and best quality aluminum frame m...,Red,48,U,747.9682,1263.4598
13,247,14,FR-R92R-52,"HL Road Frame - Red, 52",HL Road Frame,Our lightest and best quality aluminum frame m...,Red,52,U,747.9682,1263.4598
14,250,14,FR-R92R-56,"HL Road Frame - Red, 56",HL Road Frame,Our lightest and best quality aluminum frame m...,Red,56,U,747.9682,1263.4598
15,253,14,FR-R38B-58,"LL Road Frame - Black, 58",LL Road Frame,"The LL Frame provides a safe comfortable ride,...",Black,58,U,176.1997,297.6346
16,256,14,FR-R38B-60,"LL Road Frame - Black, 60",LL Road Frame,"The LL Frame provides a safe comfortable ride,...",Black,60,U,176.1997,297.6346
17,259,14,FR-R38B-62,"LL Road Frame - Black, 62",LL Road Frame,"The LL Frame provides a safe comfortable ride,...",Black,62,U,176.1997,297.6346
18,262,14,FR-R38R-44,"LL Road Frame - Red, 44",LL Road Frame,"The LL Frame provides a safe comfortable ride,...",Red,44,U,181.4857,306.5636
19,264,14,FR-R38R-48,"LL Road Frame - Red, 48",LL Road Frame,"The LL Frame provides a safe comfortable ride,...",Red,48,U,181.4857,306.5636

In [59]:
products_df.shape

(293, 11)

In [60]:
for i, column in enumerate(products_df.columns):

    print(f"{i + 1}. {column}")

1. ProductKey
2. ProductSubcategoryKey
3. ProductSKU
4. ProductName
5. ModelName
6. ProductDescription
7. ProductColor
8. ProductSize
9. ProductStyle
10. ProductCost
11. ProductPrice

In [71]:
print(f"There are {len(products_df["ProductName"].unique())} products and {len(products_df["ModelName"].unique())} models")

There are 293 products and 119 models

In [116]:
print(f"Product with minimum cost : {products_df[products_df["ProductCost"] == products_df["ProductCost"].min()]["ProductName"].iloc[0]}")
print(f"Cost : ${products_df["ProductCost"].min()}")

print(f"Description : {products_df[products_df["ProductCost"] == products_df["ProductCost"].min()]["ProductDescription"].iloc[0]}")

Product with minimum cost : Patch Kit/8 Patches
Cost : $0.8565
Description : Includes 8 different size patches, glue and sandpaper.

In [115]:
print("Products with maximum cost : ")
print()
for product in products_df[products_df["ProductCost"] == products_df["ProductCost"].max()]["ProductName"]:
    print(product)

print()
print(f"Cost : ${products_df["ProductCost"].max()}")
print(f"Description : {products_df[products_df["ProductCost"] == products_df["ProductCost"].max()]["ProductDescription"].iloc[0]}")

Products with maximum cost :

Road-150 Red, 62
Road-150 Red, 44
Road-150 Red, 48
Road-150 Red, 52
Road-150 Red, 56

Cost : $2171.2942
Description : This bike is ridden by race winners. Developed with the Adventure Works Cycles professional race team, it has a extremely light heat-treated aluminum frame, and steering that allows precision control.

In [105]:
product_with_min_price = products_df[products_df["ProductPrice"] == products_df["ProductPrice"].min()]

In [114]:
print(f"Product with minimum price : {product_with_min_price["ProductName"].iloc[0]} with price : ${product_with_min_price["ProductPrice"].iloc[0]}")

Product with minimum price : Patch Kit/8 Patches with price : $2.29

In [120]:
products_with_max_price = products_df[products_df["ProductPrice"] == products_df["ProductPrice"].max()]

In [140]:
print("Products with maximum price : ")

for i, product in enumerate(products_with_max_price["ProductName"]):

    print(f"{i + 1}. {product}")
    
print(f"The price of the products is : ${products_with_max_price["ProductPrice"].iloc[0]}")

Products with maximum price :
1. Road-150 Red, 62
2. Road-150 Red, 44
3. Road-150 Red, 48
4. Road-150 Red, 52
5. Road-150 Red, 56
The price of the products is : $3578.27

In [130]:
profits = pd.DataFrame(columns=["ProductCost", "ProductPrice", "Profit"])

In [132]:
profits["ProductCost"] = products_df["ProductCost"]
profits["ProductPrice"] = products_df["ProductPrice"]
profits["Profit"] = profits["ProductPrice"] - profits["ProductCost"]

In [145]:
print(f"The minimum profit the company would make from their products : ${profits["Profit"].min()}")
print(f"The maximum profit the company would make from their products : ${profits["Profit"].max()}")
print(f"The average profit the company would make from their products : ${profits["Profit"].mean()}")

The minimum profit the company would make from their products : $1.4335
The maximum profit the company would make from their products : $1487.8355999999999
The average profit the company would make from their products : $300.77634744027307

### Product Categories table overview

In [146]:
product_categories_df.head()

   ProductCategoryKey CategoryName
0                   1        Bikes
1                   2   Components
2                   3     Clothing
3                   4  Accessories

In [149]:
print("Categories of product")
print()
for i, category in enumerate(product_categories_df["CategoryName"]):

    print(f"{i + 1}. {category}")

Categories of product

1. Bikes
2. Components
3. Clothing
4. Accessories

### Product Subcategory table overview

In [150]:
product_subcategories_df.head()

   ProductSubcategoryKey  SubcategoryName  ProductCategoryKey
0                      1   Mountain Bikes                   1
1                      2       Road Bikes                   1
2                      3    Touring Bikes                   1
3                      4       Handlebars                   2
4                      5  Bottom Brackets                   2

In [157]:
print("Subcategory of products : ")
print()

for i, subcategory in enumerate(product_subcategories_df["SubcategoryName"].unique()):

    print(f"{i + 1}. {subcategory}")

print()
print(f"There are {len(product_subcategories_df["SubcategoryName"].unique())} subcategories")

Subcategory of products :

1. Mountain Bikes
2. Road Bikes
3. Touring Bikes
4. Handlebars
5. Bottom Brackets
6. Brakes
7. Chains
8. Cranksets
9. Derailleurs
10. Forks
11. Headsets
12. Mountain Frames
13. Pedals
14. Road Frames
15. Saddles
16. Touring Frames
17. Wheels
18. Bib-Shorts
19. Caps
20. Gloves
21. Jerseys
22. Shorts
23. Socks
24. Tights
25. Vests
26. Bike Racks
27. Bike Stands
28. Bottles and Cages
29. Cleaners
30. Fenders
31. Helmets
32. Hydration Packs
33. Lights
34. Locks
35. Panniers
36. Pumps
37. Tires and Tubes

There are 37 subcategories

### Returns table overview

In [158]:
returns_df.head()

  ReturnDate  TerritoryKey  ProductKey  ReturnQuantity
0  1/18/2015             9         312               1
1  1/18/2015            10         310               1
2  1/21/2015             8         346               1
3  1/22/2015             4         311               1
4   2/2/2015             6         312               1

### Sales 2015 table overview

In [159]:
sales_2015_df.head()

,OrderDate,StockDate,OrderNumber,ProductKey,CustomerKey,TerritoryKey,OrderLineItem,OrderQuantity
0,1/1/2015,9/21/2001,SO45080,332,14657,1,1,1
1,1/1/2015,12/5/2001,SO45079,312,29255,4,1,1
2,1/1/2015,10/29/2001,SO45082,350,11455,9,1,1
3,1/1/2015,11/16/2001,SO45081,338,26782,6,1,1
4,1/2/2015,12/15/2001,SO45083,312,14947,10,1,1

### Sales 2016 table overview

In [160]:
sales_2016_df.head()

,OrderDate,StockDate,OrderNumber,ProductKey,CustomerKey,TerritoryKey,OrderLineItem,OrderQuantity
0,1/1/2016,10/17/2002,SO48797,385,14335,1,1,1
1,1/1/2016,9/30/2002,SO48802,383,24923,9,1,1
2,1/1/2016,11/29/2002,SO48801,326,15493,1,1,1
3,1/1/2016,11/16/2002,SO48799,352,26708,4,1,1
4,1/1/2016,12/16/2002,SO48798,369,23332,9,1,1

### Sales 2017 table overview

In [161]:
sales_2017_df.head()

,OrderDate,StockDate,OrderNumber,ProductKey,CustomerKey,TerritoryKey,OrderLineItem,OrderQuantity
0,1/1/2017,12/13/2003,SO61285,529,23791,1,2,2
1,1/1/2017,9/24/2003,SO61285,214,23791,1,3,1
2,1/1/2017,9/4/2003,SO61285,540,23791,1,1,1
3,1/1/2017,9/28/2003,SO61301,529,16747,1,2,2
4,1/1/2017,10/21/2003,SO61301,377,16747,1,1,1

In [163]:
sales_2015_df.columns == sales_2016_df.columns, sales_2016_df.columns == sales_2017_df.columns

(array([ True,  True,  True,  True,  True,  True,  True,  True]),
 array([ True,  True,  True,  True,  True,  True,  True,  True]))